html, body {
    margin: 0.5em;
    padding: 0;
}

#twocent {
    font-weight:normal;
    color:#383838;
    letter-spacing:1pt;
    word-spacing:2pt;
    font-size:14px;
    text-align:left;
    font-family:helvetica, sans-serif;
    line-height:1.3;
}

#tc_main_form {
    background: rgb(243, 243, 243);
    padding: 1.5em;
    border: 1px solid rgb(146, 146, 146);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0px 0px 3px rgba(146, 146, 146, 0.7);
    -moz-box-shadow:    0px 0px 3px rgba(146, 146, 146, 0.7);
    box-shadow:         0px 0px 3px rgba(146, 146, 146, 0.7);
    
}

#tc_main_form label {
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
}

#tc_main_form label {
    display: block;
    padding: 0.1em 0 0.1em 0;
}

#twocent input[type=text], #twocent textarea {
    width: 100%;
    padding: 0.5em;
    margin: 1em 0 1em 0;
    border: 1px solid rgb(179, 179, 179);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div.comment_wrap {
    font-size:90%;
    padding: 1em 0 0 2em;
}

/*first level responses*/
#tc_comments > div.comment_wrap {
    font-size:100%;
    padding: 1em;
    margin: 0.5em 0 0.5em 0;
    border: 1px solid rgb(179, 179, 179);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

#main_recaptcha, #response_recaptcha {
    height: 150px;
}

#twocent [type=submit] {
    margin: 0.7em 0 0.2em 0;
    -moz-box-shadow:inset 0px 0px 1px -6px #97c4fe;
    -webkit-box-shadow:inset 0px 0px 1px -6px #97c4fe;
    box-shadow:inset 0px 0px 1px -6px #97c4fe;
    background-color:rgb(50, 130, 221);
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid rgb(43, 72, 114);
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    padding:6px 19px;
    text-shadow:1px 1px 0px #1570cd;
}

#twocent [type=submit]:hover {
    background-color:#1e62d0;
}

#twocent [type=submit]:active {
    position:relative;
    top:1px;
}


#tc_comments [type=submit] {
    -moz-box-shadow:inset 0px 0px 1px -6px #ffffff;
    -webkit-box-shadow:inset 0px 0px 1px -6px #ffffff;
    box-shadow:inset 0px 0px 1px -6px #ffffff;
    background-color:#ededed;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    padding:6px 19px;
    text-decoration:none;
    text-shadow:1px 1px 3px #ffffff;
}

#tc_comments [type=submit]:hover {
    background-color:#dfdfdf;
}

#tc_comments [type=submit]:active {
    position:relative;
    top:1px;
}


#tc_loading_comments {
    height: 100px;
}

div.comment_wrap button {
    font-size: 90%;
    padding: 0.5em 0 0.5em 0;
    background: none;
    border: none;
    font-weight: bold;
    color: blue;
}

div.comment_wrap button:hover {
    font-size: 90%;
    padding: 0.5em 0 0.5em 0;
    background: none;
    border: none;
    font-weight: bold;
    color: lightblue;
}

div.comment_wrap div.name {
    padding: 0.5em 0 0.5em 0;
    font-weight: bold;
}

div.comment_wrap div.date {
    padding: 0.5em 0 0.5em 0;
    font-size: 80%;
}

.success {
    padding: 1em;
    color: rgb(39, 102, 54);
    text-shadow: 0px 1px 1px rgba(111, 111, 111, 0.23);
    background: rgba(42, 255, 52, 0.18);
    border: 1px solid rgba(25, 155, 25, 0.27);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.faded {
    opacity: 0.4;
}

.error {
    color: rgb(223, 27, 27);
}

#twocent input.error, #twocent textarea.error {
    border: 1px solid rgb(223, 27, 27);
}

input.error:focus, textarea.error:focus {
    outline: 1px solid rgb(223, 27, 27);
    outline-style: ridge;
}
